<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/index.css">

</head>
<body>

<h1>{{first_word}}</h1>


</body>

<script type="text/javascript" src = "./dist/js/index.js"></script>
</html>