<!DOCTYPE html>
<html style = "height:100%;width:100%;margin:0px;">

<head>
  {{> head}}
  <link rel="stylesheet" href = "./dist/css/index.css">
</head>

<body>
  <h1>Hi, {{first_meet}}</h1>
  {{> footer}}
</body>
<script type="text/javascript" src="./dist/js/index.js"></script>

</html>